SSHUTTLE_HOST={{ ssh_host }}
SSHUTTLE_PORT={{ ssh_port }}
SSHUTTLE_USER={{ ssh_user }}
SSHUTTLE_KEY_PATH={{ ssh_key_path }}
SSHUTTLE_CONNECT_TIMEOUT={{ connect_timeout }}
SSHUTTLE_KEEPALIVE_INTERVAL={{ keepalive_interval }}
