server:
  interface: 0.0.0.0
  interface: ::0

  access-control: 10.0.0.0/24 allow
  access-control: fd00::0/96 allow
  access-control: 127.0.0.1/32 allow
  access-control: ::1/128 allow

  cache-min-ttl: 1200
  cache-max-ttl: 14400

  hide-identity: yes
  hide-version: yes

  prefetch: yes
  so-reuseport: yes

{% for hostname, config in dns_records | items %}
  local-zone: "{{ hostname }}" redirect
{% if config.ip4 is defined %}
    local-data: "{{ hostname }} IN A {{ config.ip4 }}"
{% endif %}
{% if config.ip6 is defined %}
    local-data: "{{ hostname }} IN AAAA {{ config.ip6 }}"
{% endif %}
{% endfor %}

forward-zone:
  name: "."
  forward-addr: 1.1.1.1@53
  forward-addr: 1.0.0.1@53
  forward-addr: 2606:4700:4700::1111@53
  forward-addr: 2606:4700:4700::1001@53
